@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-white dark:bg-neutral-800;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-400 dark:bg-neutral-600;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}
::selection {
  @apply text-neutral-100 bg-primary-600;
}

* {
  scroll-behavior: smooth;
}
*:not(input, textarea, select):focus-visible {
  @apply ring-1 ring-neutral-900 dark:ring-neutral-100;
}

body {
  @apply bg-white dark:bg-neutral-800 overflow-x-hidden w-screen text-text-main dark:text-neutral-100;
}

[class^='button-']:not(.no-scale),
button:not(.no-scale) {
  @apply active:scale-95 transition-all duration-200;
}
.link {
  @apply font-medium text-primary-600 dark:text-neutral-100 dark:hover:text-primary-700 hover:underline cursor-pointer transition-all dark:underline;
}

hr {
  @apply my-4 border-gray-300 dark:border-gray-700 w-full;
}
label {
  @apply font-semibold text-text-main dark:text-neutral-100;
}

h1:not([class*='text-']),
h2:not([class*='text-']),
h3:not([class*='text-']),
h4:not([class*='text-']),
h5:not([class*='text-']),
h6:not([class*='text-']) {
  @apply text-text-main dark:text-neutral-100;
}
h1:not([class='*text-*']) {
  @apply text-4xl font-sans font-semibold;
}
h2 {
  @apply text-3xl font-sans font-semibold;
}
h3 {
  @apply text-2xl font-sans font-semibold;
}
h4 {
  @apply text-xl font-sans font-semibold;
}
h5 {
  @apply text-lg font-sans font-semibold;
}
h6 {
  @apply text-base font-sans font-semibold;
}
p {
  @apply block text-base leading-6 font-light dark:text-neutral-100 text-text-main font-['Mulish'];
}

/* Toggle switch */
.switch-wrapper {
  @apply h-5 md:h-8;
}
.switch-wrapper input + label {
  @apply w-10 h-5 md:w-16 md:h-8 bg-red-200 dark:bg-red-700 rounded-full inline-block relative cursor-pointer shadow transition-all duration-300;
}
.switch-wrapper input + label span {
  @apply absolute top-[3px] left-1 h-[calc(100%-6px)] aspect-square rounded-full bg-red-600 dark:bg-red-900 transition-all duration-300;
}
.switch-wrapper input + label span em {
  @apply w-2 h-2 md:w-4 md:h-4 absolute top-1/2 left-1/2 -translate-x-1/2 rotate-[135deg] -translate-y-1/2 transition-all duration-300 after:duration-300 after:top-0 after:left-1/2 after:w-[2px] after:-ml-[1px] after:h-full after:bg-neutral-100 after:absolute after:transition-all before:left-0 before:w-full before:h-[2px] before:-mt-[1px] before:top-1/2 before:bg-neutral-100 before:transition-all before:duration-300 before:absolute;
}
.switch-wrapper input:checked + label {
  @apply bg-green-200 dark:bg-green-700;
}
.switch-wrapper input:checked + label span {
  @apply bg-green-700 dark:bg-green-900 left-[calc(100%-4px)] -translate-x-full;
}
.switch-wrapper input:checked + label span em {
  @apply rotate-45 ml-[2px] before:w-1/2 before:h-[2px] before:absolute before:top-full before:-mt-[2px];
}

.card-button {
  @apply rounded-lg md:p-10 p-6 w-full flex flex-col justify-start items-start gap-6 cursor-pointer disabled:cursor-not-allowed text-xl text-start hover:shadow-lg hover:-translate-y-1 transition-all relative dark:text-neutral-100 bg-white dark:bg-neutral-700 text-text-main;
}
.card-button svg {
  @apply text-2xl;
}

/* Tooltip */
[data-tooltip] {
  @apply cursor-pointer relative inline-block after:content-[attr(data-tooltip)] after:absolute after:shadow-lg after:opacity-0 after:transition-all after:ease-in-out after:pointer-events-none hover:after:opacity-100 after:z-30 focus:after:opacity-100 focus:after:z-30 after:p-3 after:rounded-md after:max-w-[300px] after:break-words after:h-auto after:bg-neutral-100 dark:after:bg-neutral-700 after:text-sm after:leading-4 after:-translate-x-1/2 after:bottom-0 after:top-auto after:mb-2 after:left-1/2 hover:after:-translate-y-4 focus:after:-translate-y-4 after:text-neutral-800 after:dark:text-neutral-100 after:font-medium;
}
/* Left */
.tooltip-left {
  @apply after:-translate-y-1/2 after:-translate-x-full after:top-1/2 after:bottom-auto hover:after:-left-2 after:right-auto after:mb-0 hover:after:-translate-y-1/2 focus:after:-translate-y-1/2;
}
/* Bottom */
.tooltip-bottom {
  @apply after:top-1/2 after:left-1/2 after:bottom-auto after:right-auto hover:after:translate-y-4 focus:after:translate-y-4 after:mb-0;
}
/* Right */
.tooltip-right {
  @apply after:-translate-y-1/2 after:translate-x-0 after:left-4 hover:after:left-6 after:right-auto after:top-1/2 after:bottom-auto after:mb-0 hover:after:-translate-y-1/2 focus:after:-translate-y-1/2;
}
